.mf-awaptfyv {
	padding: 120px 0 122px;
	background-image: url(../images/ai_x_web3_acceleration_platform_to_fued_your_vision.png);
	background-size: cover;
	background: linear-gradient(180deg, #000000 5%, #020947 100%);
	@media (max-width: 991px) {
		padding: 80px 0;
	}
	.mf-title {
		position: relative;
		z-index: 2;
	}
	&-tabs {
		display: flex;
		align-items: center;
		gap: 20px;
		position: relative;
		z-index: 2;
		margin-bottom: 40px;
		@media (max-width: 991px) {
			flex-wrap: wrap;
		}
		@media (max-width: 1399px) {
			gap: 15px;
		}
		button {
			box-sizing: border-box;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			padding: 0 10px;
			gap: 10px;
			width: 150px;
			min-width: 150px;
			height: 50px;
			background-color: rgba(35, 73, 50, 0.4);
			border: 3px solid rgba(35, 73, 50, 0.5);
			border-radius: 20px;
			cursor: pointer;
			outline: none;
			&:last-of-type {
				min-width: 186px;
			}
			@media (max-width: 1399px) {
				min-width: 140px;
				width: 140px;
				height: 45px;
			}
			span {
				font-weight: 700;
				font-size: 20px;
				line-height: 30px;
				color: rgba($color: #ffffff, $alpha: 0.7);
				transition: all ease-in-out 0.3s;
				white-space: nowrap;
				@media (max-width: 1399px) {
					font-size: 18px;
				}
			}
			&.active {
				min-width: 250px;
				width: 250px;
				height: 80px;
				border-radius: 30px;
				border-width: 4px;
				@media (max-width: 1399px) {
					min-width: 200px;
					width: 180px;
					height: 70px;
					border-radius: 20px;
				}
				span {
					color: #fff;
				}
			}
			&:nth-child(1) {
				background-color: rgba(35, 73, 50, 0.4);
				border-color: rgba(35, 73, 50, 0.5);
			}
			&:nth-child(2) {
				background: rgba(5, 118, 220, 0.6);
				border-color: #2badfb;
			}
			&:nth-child(3) {
				background: rgba(106, 85, 32, 0.5);
				border: 3px solid rgba(106, 85, 32, 0.5);
			}
			&:nth-child(4) {
				background: rgba(77, 37, 162, 0.5);
				border: 3px solid rgba(32, 30, 122, 0.5);
			}
			&:nth-child(5) {
				background: rgba(106, 32, 90, 0.5);
				border: 3px solid rgba(106, 32, 90, 0.5);
			}
		}
	}
	&-body {
		position: relative;
		z-index: 2;
		h4 {
			font-weight: 700;
			font-size: 32px;
			line-height: 48px;
			color: #ffffff;
			margin-bottom: 20px;
		}
	}
	&-buttons {
		margin-top: 65px;
		display: flex;
		gap: 60px;
		@media (max-width: 1399px) {
			gap: 20px;
		}
	}
	&-image {
		width: 130%;
		margin-left: -20%;
		margin-top: -30px;
	}
}
