.mf-banner {
	background-image: url(../images/banner.png);
	background-position: bottom center;
	background-size: cover;
	// padding-top: 171px;
	text-align: center;
	&-slide {
		margin-bottom: 0 !important;
		z-index: 1;
	}

	@media (max-width: 475px) {
		background-image: url(../images/banner_mb.png);
		position: relative;
		&-item {
			height: 100vh !important;
			max-height: 100vh !important;
		}
	}

	&-item {
		position: relative;
		padding-top: 100px;
		min-height: 600px;
		@media (max-height: 1080px) {
			height: 100vh;
			padding-top: 15.8vh;
		}
		@media (max-width: 991px) {
			min-height: 550px;
		}
		@media (max-width: 576px) {
			max-height: 650px;
			height: 650px;
			padding-top: 90px;
		}
		h1 {
			font-weight: 700;
			font-size: 64px;
			line-height: 96px;
			text-align: center;
			text-transform: uppercase;
			background: linear-gradient(180deg, #ffffff 0%, #7e7e7e 146.07%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			text-fill-color: transparent;
			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			margin-bottom: 17px;
			position: relative;
			z-index: 2;
			@media (max-width: 1199px) {
				font-size: 50px;
				line-height: 1.15;
			}
			@media (max-width: 991px) {
				font-size: 45px;
			}
			@media (max-width: 576px) {
				font-size: 38px;
				margin-bottom: 10px;
			}
		}
		p {
			text-align: center;
			text-transform: capitalize;
			background: linear-gradient(180deg, #ffffff 0%, #7e7e7e 146.07%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			text-fill-color: transparent;
			margin-bottom: -38px;
			position: relative;
			z-index: 2;
			@media (max-width: 575px) {
				white-space: nowrap;
				font-size: 15px;
			}
		}
		> img {
			max-width: 100%;
			max-height: 75%;
			object-fit: contain;
			position: absolute;
			bottom: 0px;
			left: 50%;
			transform: translateX(-50%);
			@media (max-height: 1080px) {
				bottom: 8.3vh;
				max-height: 65vh;
			}
			@media (max-width: 475px) {
				bottom: 20.3vh;
				width: 100%;
				height: auto;
			}
			@media (max-width: 576px) {
				bottom: 20px;
				width: 110%;
			}
		}
		.play {
			position: absolute;
			bottom: 150px;
			left: 50%;
			transform: translateX(-50%);
			z-index: 3;
			cursor: pointer;
			padding: 0;
			border: 0;
			background-color: transparent;
			outline: 0;
			width: 12.5vh;
			height: 12.5vh;
			&:hover {
				img {
					transform: scale(1.2);
				}
			}
			@media (max-width: 1919px) {
				width: 100px;
				height: 100px;
			}
			@media (max-height: 1080px) {
				bottom: 22vh;
			}
			@media (max-width: 575px) {
				width: 105px;
				height: 105px;
				position: relative;
				bottom: unset;
				top: unset;
				left: unset;
				transform: unset;
				margin-bottom: 20px;
			}
			img {
				width: 100%;
				height: 100%;
				transition: all ease-in-out 0.3s;
				transform-origin: center;
			}
		}
		.buttons {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 30px;
			position: absolute;
			bottom: 60px;
			width: 100%;
			@media (max-width: 1919px) {
				gap: 20px;
			}
			@media (max-height: 1080px) {
				bottom: 10vh;
			}
			@media (max-width: 575px) {
				position: relative;
				gap: 10px;
				row-gap: 20px;
				flex-wrap: wrap;
				width: 100%;
				bottom: unset;
				top: unset;
				left: unset;
				transform: unset;
				.btn.btn-lg {
					width: calc(50% - 5px);
					&:last-child {
						width: 100%;
					}
				}
			}
		}
	}
	.slick-dots {
		position: relative;
		bottom: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 50px;
		margin: 0;
		@media (max-width: 1919px) {
			gap: 10px;
		}
		@media (max-height: 1080px) {
			bottom: 6vh;
		}
		@media (max-width: 576px) {
			bottom: 20px;
			gap: 4px;
		}
		li,
		li button {
			width: 61.31px;
			height: 14.15px;
			background: rgba($color: #fff, $alpha: 0.3);
			border-radius: 23.5793px;
			@media (max-width: 1919px) {
				width: 40px;
				height: 10px;
				border-radius: 10px;
			}
			@media (max-width: 576px) {
				width: 30px;
				height: 8px;
				border-radius: 5px;
				padding: 0;
			}
			&::before {
				display: none;
			}
			&.slick-active {
				button {
					background-color: #fff;
				}
			}
		}
	}

	.mf-banner-item-buttons {
		@media (max-width: 575px) {
			position: absolute;
			z-index: 1;
			bottom: 50px;
			left: 50%;
			transform: translateX(-50%);

			.buttons > a {
				width: 100% !important;
			}
		}
	}

	.mf-banner-item-shadow {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: 0;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}
