.mf-blbotmwgp {
	position: relative;
	overflow: hidden;
	@media (max-width: 767px) {
		overflow: hidden;
	}
	&-bg {
		min-height: 620px;
		@media (max-width: 911px) {
			min-height: 1059px;
		}
		@media (max-width: 767px) {
			min-height: 522px;
			height: 522px;
		}
	}
	&-title {
		position: absolute;
		z-index: 2;
		top: 9.54vh;
		left: 0;
		width: 100%;
		text-align: center;
		@media (min-height: 1080px) {
			top: 80px;
		}
		@media (max-width: 991px) {
			top: 30px;
		}
		@media (max-width: 767px) {
			top: 17px;
		}
		h3 {
			font-weight: 700;
			font-size: 48px;
			line-height: 112%;
			@media (max-width: 1399px) {
				font-size: 42px;
			}
			@media (max-width: 1199px) {
				font-size: 36px;
				white-space: nowrap;
			}
			@media (max-width: 991px) {
				white-space: normal;
				font-size: 26px;
				font-size: 32px;
				line-height: 40px;
				width: 274px;
				margin-left: auto;
				margin-right: auto;
			}
			@media (max-width: 767px) {
				font-size: 18px;
				line-height: 24px;
				width: 110%;
			}
		}
	}
	&-art {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 41.98vw;
		height: 86.38vh;
		display: flex;
		align-items: flex-end;
		justify-content: flex-start;
		@media (min-height: 1080px) {
			height: 930px;
		}
		@media (max-width: 991px) {
			width: 55vw;
		}
		@media (max-width: 991px) {
			top: 200px;
		}
		@media (max-width: 767px) {
			top: auto;
			width: 249px;
			height: 388px;
			bottom: 0;
			margin-left: -70px;
		}
		img {
			max-width: 100%;
			max-height: 100%;
			object-fit: contain;
			@media (max-width: 767px) {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: bottom right;
			}
		}
	}
	&-info {
		position: absolute;
		top: 18.52vh;
		left: 0;
		width: 100%;
		@media (min-height: 1080px) {
			top: 200px;
			@media (max-width: 1199px) {
				top: 170px;
			}
		}
		@media (max-width: 991px) {
			top: 130px !important;
		}
		@media (max-width: 767px) {
			position: static;
			top: 0;
		}
		.box {
			margin-left: auto;
			width: 44.43vw;
			.description {
				background: #000000;
				border-radius: 10px;
				padding: 20px 20px 7px;
				color: #ffffff;
				margin: -5px 0px;
				text-align: center;
				@media (max-width: 1199px) {
					padding: 15px 15px 5px;
				}
				@media (max-width: 991px) {
					position: absolute;
					bottom: 463px;
					width: 215px;
					border-radius: 10px;
					padding: 13px 13px 10px;
					text-align: left;
					margin-left: 24px;
				}
				@media (max-width: 767px) {
					bottom: 259px;
					width: 185px;
					font-size: 9px;
					line-height: 14px;
					right: calc((100vw - 368px - 20px) / 2);
					padding: 4px 8px;
					margin-left: 0;
				}
				@media (max-width: 400px) {
					right: calc((100vw - 328px) / 2);
				}
				.name,
				.desc {
					display: none;
					@media (max-width: 767px) {
						display: block;
					}
					@media (max-width: 767px) {
						display: none;
					}
				}
				.name {
					@media (max-width: 767px) {
						font-weight: 700;
						font-size: 12.1962px;
						line-height: 18px;
						text-transform: uppercase;
					}
				}
				.desc {
					font-style: italic;
					font-weight: 400;
					font-size: 8.13082px;
					line-height: 12px;
					color: #bad8fb;
					margin-bottom: 10px;
				}
				.about {
					display: -webkit-box;
					-webkit-line-clamp: 3;
					-webkit-box-orient: vertical;
					overflow: hidden;
					text-overflow: ellipsis;
					@media (max-width: 1399px) {
						font-size: 14px;
					}
					@media (max-width: 991px) {
						text-align: left;
					}
					@media (max-width: 767px) {
						font-size: 7px;
						-webkit-line-clamp: 3;
					}
				}
			}
			.videos {
				height: 42.68vh;
				padding: 20px;
				background: #000000;
				border-radius: 10px;
				overflow: hidden;
				display: flex;
				align-items: flex-start;
				gap: 20px;
				margin-bottom: 3.61vh;
				@media (min-height: 1080px) {
					height: 462px;
					margin-bottom: 39px;

					@media (max-width: 1199px) {
						margin-bottom: 20px;
					}
				}
				@media (max-width: 1199px) {
					padding: 15px;
					gap: 15px;
					height: auto;
				}
				@media (max-width: 991px) {
					position: absolute;
					top: 607px;
					left: 50%;
					transform: translateX(-50%);
					width: 348px;
					max-width: 100%;
					flex-direction: column;
					padding: 10px;
					gap: 10px;
				}
				@media (max-width: 767px) {
					bottom: 82px;
					top: auto;
					width: 183px;
					left: auto;
					right: calc((100vw - 368px - 20px) / 2);
					transform: none;
					padding: 5px;
					margin-bottom: 0;
				}
				@media (max-width: 400px) {
					right: calc((100vw - 328px) / 2);
				}
				.video-preview {
					width: calc(100% - 160px - 20px);
					@media (min-height: 1080px) {
						width: calc(100% - 6.77vw - 30px);
					}
					@media (max-width: 1199px) {
						width: calc(100% - 120px - 15px) !important;
					}
					@media (max-width: 767px) {
						width: 100% !important;
					}
					.preview-item {
						position: relative;
						height: 39.07vh;
						border-radius: 22px;
						overflow: hidden;
						@media (min-height: 1080px) {
							height: 422px;
						}
						@media (max-width: 1199px) {
							height: 250px;
							border-radius: 18px;
						}
						@media (max-width: 991px) {
							height: 214px;
							border-radius: 12px;
						}
						@media (max-width: 767px) {
							height: 114px;
							border-radius: 6px;
						}
						&:after {
							content: '';
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							border: 6.01px solid #0f172180;
							border-radius: 22px;
							@media (max-width: 1199px) {
								border-radius: 18px;
								border-width: 4px;
							}
							@media (max-width: 991px) {
								border-radius: 12px;
							}
							@media (max-width: 767px) {
								border-radius: 6px;
								border-width: 1.5px;
							}
						}
						.play {
							position: absolute;
							z-index: 3;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							width: 10.92vh;
							height: 10.92vh;
							min-width: 60px;
							min-height: 60px;
							padding: 0;
							background-color: transparent;
							border: 0;
							cursor: pointer;
							outline: 0;
							@media (min-height: 1080px) {
								width: 118px;
								height: 118px;
							}
							@media (max-width: 767px) {
								width: 32px;
								height: 32px;
								min-width: 32px;
								min-height: 32px;
							}
							img {
								width: 100%;
								height: 100%;
							}
						}
					}
				}
				.video-list {
					width: 160px;
					min-width: 160px;
					padding-right: 20px;
					display: flex;
					flex-direction: column;
					gap: 13px;
					max-height: 100%;
					overflow-y: auto;
					@media (min-height: 1080px) {
						width: calc(6.77vw + 30px);
						min-width: calc(6.77vw + 30px);
					}
					@media (max-width: 1199px) {
						max-height: 250px;
						width: 120px !important;
						min-width: 120px !important;
						gap: 8px;
					}
					@media (max-width: 767px) {
						flex-direction: row;
						width: 100% !important;
						padding-right: 0;
					}
					.item {
						cursor: pointer;
						position: relative;
						border: 0;
						width: 100%;
						height: 130px;
						min-height: 130px;
						border-radius: 24px;
						overflow: hidden;
						@media (min-height: 1080px) {
							width: 6.77vw;
							height: 6.77vw;
							min-height: 6.77vw;
						}
						@media (max-width: 1199px) {
							min-height: 78px !important;
							height: 78px !important;
							border-radius: 10px;
						}
						@media (max-width: 991px) {
							width: 100%;
						}
						@media (max-width: 767px) {
							height: 60px !important;
							min-height: 60px !important;
						}
						@media (max-width: 767px) {
							height: 36px !important;
							min-height: 36px !important;
							border-radius: 5px;
						}
						&:after {
							content: '';
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							background-color: rgba($color: #000000, $alpha: 0.6);
							border: 2.53px solid #0f172180;
							transition: all ease-in-out 0.3s;
						}
						&.active {
							&:after {
								background-color: transparent;
								border-color: transparent;
								z-index: -1;
							}
						}
					}
				}
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			.actions {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 2.08vw;
				@media (max-width: 1199px) {
					gap: 10px;
				}
				@media (max-width: 991px) {
					position: absolute;
					top: 959px;
					left: 50%;
					transform: translateX(-50%);
				}
				@media (max-width: 767px) {
					top: auto;
					bottom: 37px;
					gap: 16px;
					right: calc((100vw - 368px - 20px) / 2);
					left: auto;
					transform: none;
				}
				@media (max-width: 400px) {
					right: calc((100vw - 328px) / 2);
				}
				.btn {
					height: 7.41vh;
					min-height: 7.41vh;
					@media (min-height: 1080px) {
						height: 80px;
						min-height: 80px;
					}
					@media (max-width: 1199px) {
						height: 45px !important;
						min-height: 45px !important;
						span {
							font-size: 18px !important;
						}
					}
					@media (max-width: 991px) {
						height: 40px !important;
						min-height: 40px !important;
						&::before,
						&:after {
							border-radius: 10px;
						}
						span {
							font-size: 13px !important;
						}
					}
					@media (max-width: 767px) {
						height: 30px !important;
						min-height: 30px !important;
						min-width: 103px !important;
						&::before {
							top: 2px;
							height: calc(100% + 2px);
						}
						span {
							font-size: 10px !important;
						}
					}
				}
			}
		}
	}
	&-bottom {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 8px 0 10px;
		background: rgba(0, 0, 0, 0.6);
		@media (max-width: 767px) {
			bottom: auto;
			top: 238px;
		}
		@media (max-width: 767px) {
			top: 73px;
		}
	}
	&-thumb {
		.inner {
			display: flex;
			align-items: center;
			@media (max-width: 767px) {
				padding-right: 10px;
			}
		}
		&.slick-current {
			.image {
				border-color: #b7fff7;
			}
			.info {
				background: linear-gradient(
					90.19deg,
					rgba(30, 130, 188, 0.93) 21.89%,
					rgba(70, 176, 238, 0.1) 99.96%
				);
				border-color: #b7fff7;
				.name {
					color: #fff;
				}
				.desc {
					color: #bad8fb;
				}
			}
		}
		.image {
			min-width: 10.18vh;
			width: 10.18vh;
			height: 10.18vh;
			border-radius: 20px;
			overflow: hidden;
			position: relative;
			border: 5px solid transparent;
			transition: all ease-in-out 0.3s;
			@media (min-height: 1080px) {
				min-width: 110px;
				width: 110px;
				height: 110px;
			}
			@media (max-width: 767px) {
				width: 40px;
				height: 40px;
				min-width: 40px;
				border-width: 2.5px;
				border-radius: 10px;
			}
			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
		.info {
			flex: 1;
			margin-left: -3px;
			border-left: 6px solid #212363;
			background: linear-gradient(
				90deg,
				rgba(7, 43, 97, 0.8) 11.73%,
				rgba(9, 50, 111, 0.616094) 52.03%,
				rgba(1, 30, 73, 0) 87.72%
			);
			opacity: 0.8;
			filter: drop-shadow(0px 2.78067px 2.78067px rgba(0, 0, 0, 0.25));
			border-radius: 0px 20.855px 20.855px 0px;
			padding: 13px 10px 16px 28px;
			white-space: nowrap;
			@media (max-height: 800px) {
				padding: 10px 10px 5px 20px;
			}
			@media (max-width: 1199px) {
				padding-left: 10px;
			}
			@media (max-width: 767px) {
				padding: 4px 10px 4px 5px;
				width: calc(100% - 68px);
				border-radius: 0px 10px 10px 0px;
				border-width: 3px;
			}
		}
		.name {
			font-weight: 700;
			font-size: 20px;
			line-height: 30px;
			color: #84a0c1;
			text-transform: uppercase;
			margin-bottom: -5px;
			@media (max-height: 800px) {
				font-size: 18px;
			}
			@media (max-width: 1199px) {
				font-size: 18px !important;
			}
			@media (max-width: 767px) {
				font-size: 8.5px !important;
				line-height: 18px;
				font-weight: 600;
			}
		}
		.desc {
			font-style: italic;
			text-transform: capitalize;
			color: rgba($color: #bad8fb, $alpha: 0.5);
			@media (max-width: 767px) {
				font-size: 9px;
			}
		}
	}
}
