.mf-byow3m {
	padding: 130px 0 159px;
	background-image: url(../images/build_your_own_web3_metaverse.png);
	background-size: cover;
	@media (max-width: 1199px) {
		padding: 80px 0;
	}
	@media (max-width: 991px) {
		padding: 60px 0;
	}
	&-header {
		display: flex;
		gap: 40px;
		&-subtitle {
			font-size: 24px;
			line-height: 36px;
			text-transform: capitalize;
			color: #ffffff;
			margin-bottom: 6px;
			@media (max-width: 1199px) {
				margin-bottom: 10px;
			}
		}
		h3 {
			line-height: 60px;
			text-transform: uppercase;
			margin-bottom: 15px;
			@media (max-width: 1199px) {
				line-height: 1.15;
			}
		}
		button {
			width: 135px;
			min-width: 135px;
			height: 135px;
			border-radius: 50%;
			margin-top: 19px;
			margin-left: 20px;
			transition: all ease-in-out 0.3s;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			border: 0;
			outline: 0;
			padding: 0;
			color: rgba($color: #d9d9d9, $alpha: 0.5);
			&:hover {
				color: rgba($color: #d9d9d9, $alpha: 1);
			}
			img,
			svg {
				width: 100%;
				height: 100%;
			}
			@media (max-width: 1399px) {
				width: 100px;
				height: 100px;
				min-width: 100px;
				margin-top: 10px;
			}
		}
	}
	p {
		margin-bottom: 45px;
		@media (max-width: 991px) {
			margin-bottom: 24px;
		}
	}
	.buttons {
		display: flex;
		gap: 20px;
		@media (max-width: 991px) {
			flex-direction: column;
		}
	}
}
