.mf-before-footer {
	padding: 62px 0 31px;
	background-color: #05060b;
	color: #fff;
	position: relative;
	@media (max-width: 767px) {
		padding: 36px 0 115px;
		.container {
			position: relative;
		}
	}
	img {
		width: 200px;
		margin-bottom: 36px;
		@media (max-width: 767px) {
			width: 143px;
			margin-bottom: 24px;
		}
	}
	a {
		color: #fff;
		text-decoration: none;
		&:hover {
			color: #6badfd;
		}
	}

	@media (max-width: 767px) {
		.row {
			--bs-gutter-y: 0 !important;
		}
	}
	.info {
		display: flex;
		flex-direction: column;
		height: 100%;
		p {
			margin-bottom: 19px;
			@media (max-width: 767px) {
				font-size: 12px;
				line-height: 16px;
				margin-bottom: 9px;
				&:last-child {
					margin-bottom: 18px;
				}
			}
		}
		a {
			margin-top: auto;
			font-size: 24px;
			font-weight: 700;

			@media (max-width: 767px) {
				position: absolute;
				top: 310px;
				left: 0px;
				font-size: 14px;
				line-height: 24px;
			}
		}
	}
	.menu {
		h4 {
			font-size: 24px;
			font-weight: 700;
			line-height: 35px;
			margin-bottom: 0;
			@media (max-width: 767px) {
				font-size: 14px;
				line-height: 24px;
				margin-top: 10px;
			}
		}
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				@media (max-width: 767px) {
					line-height: 20px;
					height: 20px;
				}
				a {
					line-height: 35px;
					@media (max-width: 767px) {
						white-space: nowrap;
						font-size: 12px;
						line-height: 20px;
					}
				}
			}
		}
	}
}
.mf-footer {
	background-color: #0f1721;
	padding: 30px 0;
	@media (max-width: 767px) {
		padding: 12px 0 11px;
		text-align: center;
	}
	&-inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
		@media (max-width: 1199px) {
			flex-wrap: wrap;
			justify-content: center;
			gap: 0;
		}
		@media (max-width: 991px) {
			flex-wrap: nowrap;
		}

		@media (max-width: 767px) {
			flex-direction: column;
		}
	}
	&-menu {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		align-items: center;
		gap: 60px;
		@media (max-width: 1199px) {
			padding-bottom: 15px;
			margin-bottom: 15px;
			border-bottom: 1px solid rgba($color: #fff, $alpha: 0.1);
		}
		@media (max-width: 991px) {
			gap: 20px;
			row-gap: 10px;
			flex-wrap: wrap;
		}
		@media (max-width: 767px) {
			padding: 0;
			margin: 0;
			border: 0;
			row-gap: 5px;
			justify-content: center;
		}
		li {
			font-weight: 500;
			color: rgba($color: #ffffff, $alpha: 0.5);
			@media (max-width: 991px) {
				&:first-child {
					width: 100%;
				}
			}
			@media (max-width: 767px) {
				font-size: 12px;
				line-height: 16px;
			}
			a {
				text-decoration: none;
				color: rgba($color: #ffffff, $alpha: 0.5);
				&:hover {
					color: #fff;
				}
				@media (max-width: 767px) {
					font-size: 12px;
					line-height: 16px;
				}
			}
		}
	}
	&-socials {
		display: flex;
		align-items: center;
		gap: 23px;
		@media (max-width: 1199px) {
			gap: 15px;
		}
		@media (max-width: 767px) {
			position: absolute;
			bottom: 75px;
		}
		a {
			text-decoration: none;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			height: 55px;
			width: 55px;
			padding: 6px 4px;
			background: rgba(0, 18, 181, 0.43);
			border-radius: 8.36157px;
			transition: all ease-in-out 0.3s;
			color: #fff;
			&:hover{
				color: #0090FF;
				background-color: #fff;
			}
			@media (max-width: 1199px) {
				height: 40px;
				width: 40px;
			}
			@media (max-width: 767px) {
				width: 28px;
				height: 28px;
			}
			svg,
			img {
				width: 80%;
				height: 80%;
				object-fit: contain;
			}
		}
	}
}
