.mf-mpeig {
	padding-top: 10vh;
	background-color: #1b2364;
	overflow: hidden;
	max-height: 950px;
	height: 950px;
	min-height: 950px;
	@media (min-height: 1080px) {
		padding-top: 80px;
	}
	@media (max-width: 1199px) {
		padding-top: 50px;
		min-height: 850px;
		height: 850px;
	}
	@media (max-width: 767px) {
		height: 600px;
		min-height: 600px;
	}
	.mf-title {
		font-weight: 700;
		font-size: 48px;
		line-height: 72px;
		text-align: center;
		text-transform: capitalize;
		color: #ffffff;
		position: relative;
		text-align: center;
		margin-bottom: -5px;
		@media (max-width: 1199px) {
			font-size: 36px;
			line-height: 1.5;
		}
		@media (max-width: 991px) {
			font-size: 32px;
		}
		@media (max-width: 767px) {
			font-size: 18px;
			width: 260px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 5px;
		}
	}
	p {
		width: 658px;
		margin: 0 auto 18px;
		text-align: center;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		transform: translateX(-50%);
		margin-left: 50%;
		@media (max-width: 767px) {
			max-width: 100%;
			font-size: 9px;
			line-height: 14px;
		}
	}
	&-slide {
		margin-bottom: 0 !important;
		padding-top: 10px;
		overflow: hidden;
	}
	&-item {
		cursor: pointer;
		transform-origin: center;
		transform: scale(0.8);
		opacity: 0.3;
		transition: all ease-in-out 0.3s;
		padding-bottom: 100px;
		@media (max-width: 1919px) {
			transform: scale(0.9);
		}
		@media (max-width: 767px) {
			padding: 0 10px;
			position: relative;
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 10px;
				width: calc(100% - 20px);
				height: 204px;
				border-radius: 18.48px;
				background: rgb(63, 28, 215);
				background: linear-gradient(
					0deg,
					rgba(63, 28, 215, 1) 0%,
					rgba(66, 163, 251, 1) 100%
				);
			}
		}
		.info {
			position: absolute;
			bottom: 25px;
			left: 50%;
			transform: translateX(-50%);
			width: 1166px;
			max-width: 80vw;
			margin: 0 auto;
			opacity: 0;
			transition: all ease-in-out 0.3s;
			text-align: center;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
			@media (max-width: 767px) {
				width: 130%;
				margin-left: -15%;
				max-width: unset;
				font-size: 9px;
				line-height: 14px;
				-webkit-line-clamp: 7;
				position: relative;
				transform: none;
				bottom: unset;
				left: unset;
			}
			@media(max-width:475px){
				width: 160%;
				margin-left: -30%;
				-webkit-line-clamp: 5;
			}
		}
		p {
			opacity: 0;
			transition: all ease-in-out 0.3s;
		}
		&:hover {
			opacity: 1;
		}
		&.slick-active:not(.slick-center) {
			transform: scale(0.8) translate(-30px, -20px);
		}
		&.slick-center {
			transform: scale(1);
			opacity: 1;
			p,
			.info {
				opacity: 1;
			}
		}
		&.slick-center ~ .slick-active {
			transform: scale(0.8) translate(30px, -20px);

			@media (max-width: 767px) {
				transform: unset;
			}
		}
		span {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 32px;
			@media (max-width: 575px) {
				margin-bottom: 20px;
			}
			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
		p {
			font-weight: 700;
			font-size: 24px;
			line-height: 36px;
			text-align: center;
			text-transform: capitalize;
			color: #ffffff;
			margin-bottom: 15px;
			@media (max-width: 767px) {
				font-size: 14px;
				line-height: 1.3;
			}
		}
		video {
			position: relative;
			z-index: 3;
			width: 100%;
			height: 100%;
			object-fit: contain;
			border: 4.04px solid #a2bdff;
			overflow: hidden;
			border-radius: 18.48px;
			@media (max-width: 767px) {
				height: 204px;
			}
		}
	}
	.slick-arrow {
		width: 36px;
		height: 28px;
		background-size: 100% 100%;
		padding: 0;
		cursor: pointer;
		top: 200px;
		z-index: 3;
		&::before {
			display: none;
		}
		&.slick-prev {
			background-image: url(../images/icons/arrow-prev.svg);
			left: 0px;
		}
		&.slick-next {
			background-image: url(../images/icons/arrow-next.svg);
			right: 0px;
		}
	}
	.slick-dots {
		position: relative;
		bottom: 0;
		margin-top: 36px;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 16px;
		bottom: 30px;
		@media (max-width: 1199px) {
			margin-top: 10px;
		}
		@media (max-width: 767px) {
			left: 50%;
			transform: translateX(-50%);
			width: 80%;
			display: flex !important;
			gap: 10px;
			li {
				width: 32px !important;
				height: 24px !important;
				border-radius: 10px;
				button {
					width: 100%;
					height: 24px;
					border-radius: 6px;
					padding: 0;
					border-width: 1.5px;
					font-size: 10px;
				}
			}
		}
		@media(max-width:475px){
			margin-top: 50px;
		}
		li {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0px;
			width: 73px;
			height: 59px;
			@media (max-width: 1919px) {
				width: 55px;
				height: 50px;
				margin: 0;
			}
			&.slick-active {
				button {
					background-color: #3475d3;
					border-color: #66acff;
					color: #fff;
					opacity: 1;
				}
			}
		}
		button {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 15px 30px;
			width: 75px;
			height: 59px;
			background: #0c2771;
			border: 3px solid transparent;
			border-radius: 15px;
			font-weight: 700;
			font-size: 24px;
			line-height: 28px;
			text-transform: capitalize;
			color: #9ea9c6;
			transition: all ease-in-out 0.3s;
			@media (max-width: 1919px) {
				width: 55px;
				height: 50px;
				padding: 15px;
				font-size: 18px;
			}
			&::before {
				display: none;
			}
			&:hover {
				color: #fff;
			}
		}
	}
}
