.mf-oawmeig {
	padding: 36px 0 66px;
	background-color: #1b2364;
	overflow: hidden;
	@media (max-width: 575px) {
		padding: 40px 0;
	}
	.mf-title {
		text-align: center;
		@media (max-width: 575px) {
			line-height: 1.5;
			margin-bottom: 20px;
		}
	}
	p {
		width: 658px;
		max-width: 100%;
		margin: 0 auto 18px;
		text-align: center;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		@media (max-width: 575px) {
			white-space: normal;
		}
	}
	&-slide {
		margin-bottom: 0 !important;
		padding-top: 10px;
		overflow: hidden;
	}
	&-item {
		cursor: pointer;
		transform-origin: center;
		transform: scale(0.8);
		opacity: 0.3;
		transition: all ease-in-out 0.3s;
		padding-bottom: 100px;
		@media (max-width: 1919px) {
			transform: scale(0.9);
		}
		@media (max-width: 575px) {
			padding: 0 24px;
		}
		.info {
			position: absolute;
			bottom: 45px;
			left: 50%;
			transform: translateX(-50%);
			width: 1166px;
			max-width: 80vw;
			margin: 0 auto;
			opacity: 0;
			transition: all ease-in-out 0.3s;
			text-align: center;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
			@media (max-width: 767px) {
				width: 100%;
				max-width: unset;
			}
			@media (max-width: 575px) {
				-webkit-line-clamp: 10;
				position: relative;
				transform: none;
				bottom: unset;
				left: unset;
			}
		}
		p {
			opacity: 0;
			transition: all ease-in-out 0.3s;
		}
		&:hover {
			opacity: 1;
		}
		&.slick-active:not(.slick-center) {
			transform: scale(0.8) translate(-30px, -20px);
		}
		&.slick-center {
			transform: scale(1);
			opacity: 1;
			p,
			.info {
				opacity: 1;
			}
		}
		&.slick-center ~ .slick-active {
			transform: scale(0.8) translate(30px, -20px);

			@media (max-width: 767px) {
				transform: unset;
			}
		}
		span {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 32px;
			@media (max-width: 575px) {
				margin-bottom: 20px;
			}
			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
		p {
			font-weight: 700;
			font-size: 24px;
			line-height: 36px;
			text-align: center;
			text-transform: capitalize;
			color: #ffffff;
			margin-bottom: 32px;
			@media (max-width: 575px) {
				line-height: 1.5;
				font-size: 20px;
				margin-bottom: 10px;
			}
		}
	}
	.slick-arrow {
		width: 36px;
		height: 28px;
		background-size: 100% 100%;
		padding: 0;
		cursor: pointer;
		top: 200px;
		z-index: 3;
		&::before {
			display: none;
		}
		&.slick-prev {
			background-image: url(../images/icons/arrow-prev.svg);
			left: 0px;
		}
		&.slick-next {
			background-image: url(../images/icons/arrow-next.svg);
			right: 0px;
		}
	}
	.slick-dots {
		position: relative;
		bottom: 0;
		margin-top: 36px;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 42px;
		@media (max-width: 1919px) {
			gap: 10px;
			margin-top: 10px;
		}
		@media (max-width: 767px) {
			left: 50%;
			transform: translateX(-50%);
			width: 80%;
			display: flex !important;

			li {
				width: calc(12.5% - 10px) !important;
				height: 10px !important;
				border-radius: 10px;
				button {
					width: 100% !important;
					height: 10px !important;
					border-radius: 10px;
					background: #3e4580;
					color: transparent !important;
					padding: 0 !important;
					border: none !important;
				}

				&.slick-active {
					background: #fff !important;
					border: none !important;
					button {
						background: #fff !important;
					}
				}
			}
		}
		li {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0px;
			width: 73px;
			height: 59px;
			@media (max-width: 1919px) {
				width: 55px;
				height: 50px;
				margin: 0;
			}
			&.slick-active {
				button {
					background: #3475d3;
					border: 4.34667px solid #66acff;
					color: #fff;
					opacity: 1;
				}
			}
		}
		button {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 15px 30px;
			width: 73px;
			height: 58px;
			background: #202a5e;
			border: 5.16995px solid #324086;
			border-radius: 15px;
			font-weight: 700;
			font-size: 24px;
			line-height: 28px;
			text-transform: capitalize;
			color: #bad8fb;
			transition: all ease-in-out 0.3s;
			opacity: 0.5;
			@media (max-width: 1919px) {
				width: 55px;
				height: 50px;
				padding: 15px;
				font-size: 18px;
			}
			&::before {
				display: none;
			}
		}
	}
}
