.mf-wttoe {
	padding: 0 0 112px;
	background-image: url(/assets/images/wttoe.png);
	background-size: cover;
	background-position: top right;
	@media (max-width: 1199px) {
		padding: 0 0 60px;
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/images/wttoe-mb.png);
		background-position: top right;
		background-repeat: no-repeat;
		background-size: 100% auto;
	}
	@media (max-width: 767px) {
		padding: 0 0 40px;
	}
	.mf-title {
		color: #fff;
		font-weight: 700;
		font-size: 48px;
		line-height: 60px;
		margin-bottom: 20px;
		span {
			white-space: nowrap;
		}
		@media (max-width: 991px) {
			font-size: 26px;
			font-size: 32px;
			line-height: 40px;
		}
		@media (max-width: 767px) {
			font-size: 18px;
			line-height: 24px;
		}
	}
	.inner {
		width: 892px;
		max-width: 100%;
		color: #bad8fb;
		@media (max-width: 767px) {
			font-size: 12px;
		}
		.mf-logo-title {
			margin-bottom: 39px;
			@media (max-width: 991px) {
				margin-bottom: 20px;
			}
		}
		p {
			margin-bottom: 25px;
			&:last-of-type {
				margin-bottom: 46px;
			}
		}
	}
	.buttons {
		display: inline-flex;
		gap: 34px;
		@media (max-width: 1199px) {
			gap: 20px;
			.btn {
				span {
					font-size: 18px !important;
				}
			}
		}
		@media (max-width: 991px) {
			.btn {
				height: 40px !important;
				min-height: 40px !important;
				&::before,
				&:after {
					border-radius: 6px;
				}
				span {
					font-size: 13px !important;
				}
			}
		}
		@media (max-width: 767px) {
			gap: 10px;
			.btn {
				height: 30px !important;
				min-height: 30px !important;
				min-width: 100px !important;
				&::before {
					top: 1px;
					height: calc(100% + 1px);
				}
				span {
					font-size: 12px !important;
				}
			}
		}
	}
}
