:root {
	--bs-body-font-family: 'Poppins', sans-serif;
	--bs-body-font-size: 16px;
	--bs-body-line-height: 1.5;
	--bs-body-font-weight: 400;
}
[data-bs-theme='dark'] {
	--bs-body-bg: #0a1f59;
	--bs-body-bg-rgb: 10, 31, 89;
	--bs-body-color: #fff;
	--bs-body-color-rgb: 255, 255, 255;
}
* {
	scrollbar-width: thin;
}
section ::-webkit-scrollbar {
	width: 2px !important;
	height: 2px !important;
}
body {
	overflow-x: hidden;
	position: relative;
	min-width: 340px;
}
a {
	transition: all ease-in-out 0.3s;
}
.mf-loading {
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba($color: #0a1f59, $alpha: 0.2);
	backdrop-filter: blur(2px);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9999;
	transition: all ease-in-out 0.3s;
	transform-origin: center;
	img {
		height: 100%;
		transition: all ease-in-out 0.3s;
		animation: fade 3s infinite;
		height: 40px;
	}
	@keyframes fade {
		0%,
		100% {
			opacity: 0.2;
		}
		50% {
			opacity: 1;
		}
	}
}
.mf-full-screen {
	width: 100vw;
	height: 100vh;
	max-width: 100%;
	max-height: 1080px;
	object-fit: cover;
	min-height: 720px;
	@media (max-width: 1199px) {
		max-height: 720px;
	}
}
@import 'container';
@import 'button';
@import 'modal';

@import 'header';
@import 'banner';
@import 'lboes';
@import 'mpe';
@import 'mpeig';
@import 'blbotmwgp';
@import 'cta';
@import 'host-events';
@import 'byo';
@import 'awaptfyv';
@import 'mcp';
@import 'bac';
@import 'tclg';
@import 'footer';
