@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
[data-bs-theme=dark] {
  --bs-body-font-family: "Poppins", sans-serif;
  --bs-body-bg: #0a1f59;
  --bs-body-bg-rgb: 10, 31, 89;
  --bs-body-color: #fff;
  --bs-body-color-rgb: 186, 216, 251;
  --bs-body-font-size: 16px;
  --bs-body-line-height: 1.5;
  --bs-body-font-weight: 400;
}

* {
  scrollbar-width: thin;
}

body {
  overflow-x: hidden;
  position: relative;
}
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw - 198px);
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  z-index: -1;
  transform: translateX(-100%);
  transition: all ease-in-out 0.3s;
}
body.menu-show {
  overflow: hidden;
}
body.menu-show::after {
  transform: translateX(0);
  z-index: 996;
}

a {
  transition: all ease-in-out 0.3s;
}

.btn {
  position: relative;
  height: 45px;
  min-width: 135px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  border: 0;
  white-space: nowrap;
  transition: transform 0.2s ease-in-out;
}
@media (max-width: 991px) {
  .btn {
    height: 40px;
    min-width: 120px;
  }
}
.btn:not(:disabled):hover::after, .btn:not(:disabled).active::after {
  height: calc(100% + 2px);
  filter: brightness(0.9);
}
.btn:not(:disabled):hover span, .btn:not(:disabled).active span {
  transform: scale(0.99);
}
.btn.btn-lg {
  padding: 10px 30px;
  min-width: 250px;
  height: 80px;
  border-radius: 17.5782px;
}
@media (max-width: 1919px) {
  .btn.btn-lg {
    min-width: 180px;
    height: 56px;
    border-radius: 15px;
  }
}
@media (max-width: 991px) {
  .btn.btn-lg {
    min-width: 135px;
    height: 45px;
    border-radius: 10px;
  }
}
.btn.btn-lg::before, .btn.btn-lg::after {
  border-radius: 14px;
}
.btn.btn-lg::before {
  top: 6.44px;
}
.btn.btn-lg span {
  font-size: 32px;
  line-height: 39px;
  text-shadow: 0px 1.75735px 0px rgba(0, 0, 0, 0.25);
}
@media (min-width: 1920px) {
  .btn.btn-lg span {
    font-size: 24px;
    line-height: 36px;
  }
}
@media (max-width: 1919px) {
  .btn.btn-lg span {
    font-size: 22px;
    line-height: 1;
  }
}
@media (max-width: 1200px) {
  .btn.btn-lg span {
    font-size: 18px;
  }
}
.btn::before, .btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  left: 0;
  transition: all ease-in-out 0.3s;
}
.btn::before {
  top: 3.6px;
  background: #0850a0;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
}
.btn:after {
  top: 0;
  background: linear-gradient(174.64deg, #118cef 9.83%, #0582e6 89.43%);
  box-shadow: 0px 1px 2px #0777da;
  filter: drop-shadow(0px 2px 0px rgba(32, 80, 167, 0.1));
}
.btn span {
  position: relative;
  z-index: 2;
  display: inline-flex;
  align-items: center;
  height: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 12px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
  transition: all ease-in-out 0.3s;
  transform-origin: center;
}
.btn.btn-primary::before {
  background: #0850a0;
}
.btn.btn-primary:after {
  background: linear-gradient(174.64deg, #118cef 9.83%, #0582e6 89.43%);
  box-shadow: 0px 1px 2px #0777da;
}
.btn.btn-primary:not(:disabled):hover span {
  color: #50f3ff;
}
.btn.btn-success::before {
  background: #208893;
}
.btn.btn-success:after {
  background: linear-gradient(180deg, #00debb 0%, #55c9d1 42.5%, #3fb4b7 100%);
  box-shadow: none;
}
.btn.btn-success:not(:disabled):hover span {
  color: #caffe4;
}
.btn.btn-warning::before {
  background: #f44801;
}
.btn.btn-warning:after {
  background: linear-gradient(180deg, #ffbb3c 2.5%, #ffa83a 29%, #fb8c2b 100%);
  box-shadow: none;
}
.btn.btn-warning:not(:disabled):hover span {
  color: #ffff00;
}
.btn.btn-danger::before {
  background: #a90909;
}
.btn.btn-danger:after {
  background: linear-gradient(180deg, #fb5631 0%, #e71f1f 50%, #d91212 100%);
  box-shadow: none;
}
.btn.btn-danger:not(:disabled):hover span {
  color: #ffc5c5;
}
.btn.btn-secondary::before {
  background: #0850a0;
  box-shadow: 0px 3.63329px 0px rgba(0, 0, 0, 0.25);
}
.btn.btn-secondary:after {
  background: linear-gradient(174.64deg, #0c2d89 9.83%, #0c2d89 89.43%);
  box-shadow: 0px 1.81665px 3.63329px #0c2d89;
}
.btn.btn-secondary span {
  color: #bad8fb;
}
.btn.btn-secondary:not(:disabled):hover span {
  color: #fff;
}
.btn.btn-light {
  border: 1px solid #b5b5b5;
}
.btn.btn-light span {
  color: #1f2b32;
  text-shadow: 0px 1.81665px 0px rgba(0, 0, 0, 0.1);
}
.btn.btn-light::before {
  background: #838383;
}
.btn.btn-light:after {
  background: #fff;
  box-shadow: none;
}
.btn.btn-light:not(:disabled):hover span {
  color: #000;
}

.modal-content {
  background-color: transparent;
  border: 0;
  border-radius: 10px;
}
.modal-content .modal-header {
  border: 0;
  padding: 0;
}
.modal-content .btn-close {
  background-color: #fff;
  border-radius: 50%;
  margin-bottom: -30px;
  z-index: 4;
}

.mf-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 996;
  padding: 20px 0;
  transition: all ease-in-out 0.3s;
}
.mf-header.sticky {
  padding: 15px 0;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(4px);
}
.mf-header-inner {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: space-between;
}
@media (max-width: 1399px) {
  .mf-header-inner {
    justify-content: flex-start;
  }
}
@media (max-width: 991px) {
  .mf-header-inner {
    justify-content: space-between;
  }
}
.mf-header-logo {
  outline: 0;
}
.mf-header-logo img {
  height: 40px;
  transition: all ease-in-out 0.3s;
}
.mf-header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  gap: 40px;
}
@media (max-width: 1399px) {
  .mf-header-menu {
    gap: 24px;
  }
}
@media (max-width: 1199px) {
  .mf-header-menu {
    gap: 15px;
  }
}
@media (max-width: 475px) {
  .mf-header-menu {
    flex-direction: row-reverse;
  }
}
.mf-header-menu .toggle-menu {
  min-width: 50px;
  width: 50px;
  padding: 0;
  display: none;
}
@media (max-width: 1199px) {
  .mf-header-menu .toggle-menu {
    display: inline-flex;
  }
}
.mf-header-menu .toggle-menu svg {
  height: 24px;
  position: relative;
  z-index: 2;
}
.mf-header-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: space-between;
  transition: all ease-in-out 0.3s;
  gap: 30px;
}
.mf-header-menu ul:first-of-type {
  margin-top: 5px;
}
.mf-header-menu ul:last-of-type {
  gap: 20px;
}
@media (max-width: 1399px) {
  .mf-header-menu ul {
    gap: 32px;
  }
}
@media (max-width: 1199px) {
  .mf-header-menu ul:first-of-type {
    margin-top: 0;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 100vh;
    justify-content: center;
    background-color: #0a1f59;
    gap: 32px;
    z-index: 999;
    transform: translateX(100%);
  }
  .mf-header-menu ul:first-of-type.show {
    transform: translateX(0);
  }
  .mf-header-menu ul:last-of-type {
    margin-left: auto;
  }
}
@media (max-width: 767px) {
  .mf-header-menu ul:last-of-type {
    display: none;
  }
}
.mf-header-menu ul li a:not(.btn) {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  opacity: 0.5;
  transition: all ease-in-out 0.3s;
}
@media (max-width: 1199px) {
  .mf-header-menu ul li a:not(.btn) {
    flex-direction: column;
    justify-content: center;
    gap: 4px;
  }
}
.mf-header-menu ul li a:not(.btn):hover, .mf-header-menu ul li a:not(.btn).active {
  opacity: 1;
}
.mf-header-menu ul li a:not(.btn) img {
  width: 28px;
}
@media (max-width: 1399px) {
  .mf-header-menu ul li a:not(.btn) img {
    display: none;
  }
}
@media (max-width: 1199px) {
  .mf-header-menu ul li a:not(.btn) img {
    display: block;
    width: 30px;
  }
}

.mf-banner {
  background-image: url(../images/banner.png);
  background-position: bottom center;
  background-size: cover;
  text-align: center;
  position: relative;
}
.mf-banner-slide {
  margin-bottom: 0 !important;
  z-index: 1;
}
@media (max-width: 475px) {
  .mf-banner {
    background-image: url(../images/banner_mb.png);
    position: relative;
  }
  .mf-banner-item {
    height: 100vh !important;
    max-height: 100vh !important;
  }
}
.mf-banner-item {
  position: relative;
  padding-top: 100px;
  min-height: 600px;
}
@media (max-height: 1080px) {
  .mf-banner-item {
    height: 100vh;
    padding-top: 15.8vh;
  }
}
@media (max-width: 991px) {
  .mf-banner-item {
    min-height: 550px;
  }
}
@media (max-width: 576px) {
  .mf-banner-item {
    max-height: 650px;
    height: 650px;
    padding-top: 90px;
  }
}
.mf-banner-item h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 96px;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(180deg, #ffffff 0%, #7e7e7e 146.07%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 17px;
  position: relative;
  z-index: 2;
}
@media (max-width: 1199px) {
  .mf-banner-item h1 {
    font-size: 50px;
    line-height: 1.15;
  }
}
@media (max-width: 991px) {
  .mf-banner-item h1 {
    font-size: 45px;
  }
}
@media (max-width: 576px) {
  .mf-banner-item h1 {
    font-size: 38px;
    margin-bottom: 10px;
  }
}
.mf-banner-item p {
  text-align: center;
  text-transform: capitalize;
  background: linear-gradient(180deg, #ffffff 0%, #7e7e7e 146.07%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: -38px;
  position: relative;
  z-index: 2;
}
@media (max-width: 575px) {
  .mf-banner-item p {
    white-space: nowrap;
    font-size: 15px;
  }
}
.mf-banner-item > img {
  max-width: 100%;
  max-height: 75%;
  object-fit: contain;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-height: 1080px) {
  .mf-banner-item > img {
    bottom: 8.3vh;
    max-height: 65vh;
  }
}
@media (max-width: 475px) {
  .mf-banner-item > img {
    bottom: 20.3vh;
    width: 100%;
    height: auto;
  }
}
@media (max-width: 576px) {
  .mf-banner-item > img {
    bottom: 20px;
    width: 110%;
  }
}
.mf-banner-item .play {
  position: absolute;
  bottom: 150px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  cursor: pointer;
  padding: 0;
  border: 0;
  background-color: transparent;
  outline: 0;
  width: 12.5vh;
  height: 12.5vh;
}
.mf-banner-item .play:hover img {
  transform: scale(1.2);
}
@media (max-width: 1919px) {
  .mf-banner-item .play {
    width: 100px;
    height: 100px;
  }
}
@media (max-height: 1080px) {
  .mf-banner-item .play {
    bottom: 22vh;
  }
}
@media (max-width: 575px) {
  .mf-banner-item .play {
    width: 105px;
    height: 105px;
    position: relative;
    bottom: unset;
    top: unset;
    left: unset;
    transform: unset;
    margin-bottom: 20px;
  }
}
.mf-banner-item .play img {
  width: 100%;
  height: 100%;
  transition: all ease-in-out 0.3s;
  transform-origin: center;
}
.mf-banner-item .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  position: absolute;
  bottom: 60px;
  width: 100%;
}
@media (max-width: 1919px) {
  .mf-banner-item .buttons {
    gap: 20px;
  }
}
@media (max-height: 1080px) {
  .mf-banner-item .buttons {
    bottom: 10vh;
  }
}
@media (max-width: 575px) {
  .mf-banner-item .buttons {
    position: relative;
    gap: 10px;
    row-gap: 20px;
    flex-wrap: wrap;
    width: calc(100% - 10px);
    bottom: unset;
    top: unset;
    left: unset;
    transform: unset;
  }
  .mf-banner-item .buttons .btn.btn-lg {
    width: 31.340625vw;
  }
  .mf-banner-item .buttons .btn.btn-lg span {
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
  }
}
.mf-banner .slick-dots {
  position: relative;
  bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 0;
}
@media (max-width: 1919px) {
  .mf-banner .slick-dots {
    gap: 10px;
  }
}
@media (max-height: 1080px) {
  .mf-banner .slick-dots {
    bottom: 6vh;
  }
}
@media (max-width: 576px) {
  .mf-banner .slick-dots {
    bottom: 20px;
    gap: 4px;
  }
}
.mf-banner .slick-dots li,
.mf-banner .slick-dots li button {
  width: 61.31px;
  height: 14.15px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 23.5793px;
}
@media (max-width: 1919px) {
  .mf-banner .slick-dots li,
  .mf-banner .slick-dots li button {
    width: 40px;
    height: 10px;
    border-radius: 10px;
  }
}
@media (max-width: 576px) {
  .mf-banner .slick-dots li,
  .mf-banner .slick-dots li button {
    width: 30px;
    height: 8px;
    border-radius: 5px;
    padding: 0;
  }
}
.mf-banner .slick-dots li::before,
.mf-banner .slick-dots li button::before {
  display: none;
}
.mf-banner .slick-dots li.slick-active button,
.mf-banner .slick-dots li button.slick-active button {
  background-color: #fff;
}
@media (max-width: 575px) {
  .mf-banner .mf-banner-item-buttons {
    position: absolute;
    z-index: 1;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
  }
}
.mf-banner .mf-banner-item-shadow {
  display: none;
}
@media (max-width: 475px) {
  .mf-banner .mf-banner-item-shadow {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 0;
  }
  .mf-banner .mf-banner-item-shadow img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.mf-lboe {
  text-align: right;
  position: relative;
  overflow: hidden;
}
.mf-lboe-bg {
  width: 100%;
}
.mf-lboe-inner {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
@media (max-width: 767px) {
  .mf-lboe-inner {
    top: 12%;
    transform: translateY(0);
  }
}
.mf-lboe-inner h2 {
  font-weight: 700;
  font-size: 86px;
  line-height: 100px;
  text-align: right;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 4.49102px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 36px;
}
@media (max-width: 1399px) {
  .mf-lboe-inner h2 {
    font-size: 70px;
    line-height: 1.15;
  }
}
@media (max-width: 1199px) {
  .mf-lboe-inner h2 {
    margin-right: -20px;
    font-size: 50px;
    line-height: 1.15;
  }
}
@media (max-width: 991px) {
  .mf-lboe-inner h2 {
    font-size: 45px;
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .mf-lboe-inner h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    text-align: center;
    margin-top: 120px;
  }
}
@media (max-width: 767px) {
  .mf-lboe {
    text-align: center;
  }
}

.mf-laitfne {
  position: relative;
}
.mf-laitfne-bg {
  width: 100%;
}
.mf-laitfne-inner {
  position: absolute;
  top: 107px;
  left: 0;
  width: 100%;
  text-align: center;
}
@media (max-width: 1919px) {
  .mf-laitfne-inner {
    top: 80px;
  }
}
@media (max-width: 1199px) {
  .mf-laitfne-inner {
    top: 60px;
  }
}
.mf-laitfne-inner h3 {
  font-weight: 700;
  font-size: 64px;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 10px;
}
.mf-laitfne-inner p {
  width: 1454px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.mf-oawbmp {
  padding: 81px 0 67px;
  background-image: url(../images/open_ai_world_x_blockchain_x_metaverse_platform_bg.png);
  background-size: cover;
  text-align: center;
  background: linear-gradient(180deg, #000000 5%, #020947 100%);
}
@media (min-width: 1440px) {
  .mf-oawbmp {
    height: 100vh;
  }
}
@media (max-width: 575px) {
  .mf-oawbmp {
    padding: 40px 0;
  }
}
.mf-oawbmp .mf-title {
  text-align: center;
}
@media (max-width: 575px) {
  .mf-oawbmp .mf-title {
    line-height: 1.3;
    margin-bottom: 20px;
  }
}
.mf-oawbmp p {
  width: 951px;
  max-width: 100%;
  margin: 0 auto 22px auto;
}
.mf-oawbmp-slide {
  margin-bottom: 0 !important;
}
@media (max-width: 767px) {
  .mf-oawbmp-slide .slick-arrow {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 767px) and (max-width: 475px) {
  .mf-oawbmp-slide .slick-arrow {
    right: -10px;
  }
}
.mf-oawbmp-item {
  text-align: center;
}
.mf-oawbmp-item img {
  width: 65vw;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1600px) {
  .mf-oawbmp-item img {
    width: 56vw;
  }
}
@media (max-width: 575px) {
  .mf-oawbmp-item img {
    width: 75vw;
  }
}
.mf-oawbmp .slick-arrow {
  width: 93px;
  height: 69px;
  background-size: 100% 100%;
  padding: 0;
  cursor: pointer;
}
@media (max-width: 1919px) {
  .mf-oawbmp .slick-arrow {
    width: 68px;
    height: 50px;
  }
}
@media (max-width: 575px) {
  .mf-oawbmp .slick-arrow {
    width: 36px;
    height: 28px;
  }
}
.mf-oawbmp .slick-arrow::before {
  display: none;
}
.mf-oawbmp .slick-arrow.slick-prev {
  background-image: url(../images/icons/arrow-prev.svg);
}
@media (max-width: 575px) {
  .mf-oawbmp .slick-arrow.slick-prev {
    left: -10px;
  }
}
.mf-oawbmp .slick-arrow.slick-next {
  background-image: url(../images/icons/arrow-next.svg);
}
@media (max-width: 575px) {
  .mf-oawbmp .slick-arrow.slick-next {
    right: -10px;
  }
}
.mf-oawbmp .slick-dots {
  position: relative;
  bottom: 0;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
@media (max-width: 1919px) {
  .mf-oawbmp .slick-dots {
    gap: 10px;
  }
}
@media (max-width: 575px) {
  .mf-oawbmp .slick-dots {
    display: none;
  }
}
.mf-oawbmp .slick-dots li,
.mf-oawbmp .slick-dots li button {
  width: 61.31px;
  height: 14.15px;
  background: #3e4580;
  border-radius: 23.5793px;
}
@media (max-width: 1919px) {
  .mf-oawbmp .slick-dots li,
  .mf-oawbmp .slick-dots li button {
    width: 40px;
    height: 10px;
    border-radius: 10px;
  }
}
.mf-oawbmp .slick-dots li::before,
.mf-oawbmp .slick-dots li button::before {
  display: none;
}
.mf-oawbmp .slick-dots li.slick-active button,
.mf-oawbmp .slick-dots li button.slick-active button {
  background-color: #fff;
}

.mf-oawbmp-item img {
  cursor: zoom-in;
}

.image-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 9999;
}

.image-modal img {
  max-width: 90%;
  max-height: 90vh;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-modal .close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.mf-mpe {
  position: relative;
}
.mf-mpe > img {
  width: 100%;
}
.mf-mpe-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 30px;
}
.mf-mpe .mf-title {
  text-align: center;
  background: linear-gradient(180deg, #fffdf3 29.17%, #fee5cd 50.83%, #fbb17f 73.61%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mf-oawmeig {
  padding: 36px 0 66px;
  background-color: #1b2364;
  overflow: hidden;
}
@media (min-width: 1440px) {
  .mf-oawmeig {
    height: 100vh;
  }
}
@media (max-width: 575px) {
  .mf-oawmeig {
    padding: 40px 0;
  }
}
.mf-oawmeig .mf-title {
  text-align: center;
}
@media (max-width: 575px) {
  .mf-oawmeig .mf-title {
    line-height: 1.3;
    margin-bottom: 20px;
  }
}
.mf-oawmeig p {
  width: 658px;
  max-width: 100%;
  margin: 0 auto 18px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (max-width: 575px) {
  .mf-oawmeig p {
    white-space: normal;
  }
}
.mf-oawmeig-slide {
  margin-bottom: 0 !important;
  padding-top: 10px;
  overflow: hidden;
}
.mf-oawmeig-item {
  cursor: pointer;
  transform-origin: center;
  transform: scale(0.8);
  opacity: 0.3;
  transition: all ease-in-out 0.3s;
  padding-bottom: 100px;
}
@media (max-width: 575px) {
  .mf-oawmeig-item {
    padding: 0 60px;
  }
}
.mf-oawmeig-item .info {
  position: absolute;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%);
  width: 1166px;
  max-width: 80vw;
  margin: 0 auto;
  opacity: 0;
  transition: all ease-in-out 0.3s;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 767px) {
  .mf-oawmeig-item .info {
    width: 100%;
    max-width: unset;
  }
}
@media (max-width: 575px) {
  .mf-oawmeig-item .info {
    -webkit-line-clamp: 10;
    position: relative;
    transform: none;
    bottom: unset;
    left: unset;
  }
}
.mf-oawmeig-item p {
  opacity: 0;
  transition: all ease-in-out 0.3s;
}
.mf-oawmeig-item:hover {
  opacity: 1;
}
.mf-oawmeig-item.slick-active:not(.slick-center) {
  transform: scale(0.8) translate(-30px, -20px);
}
@media (max-width: 1200px) {
  .mf-oawmeig-item.slick-active:not(.slick-center) {
    transform: scale(0.8);
  }
}
.mf-oawmeig-item.slick-center {
  transform: scale(1);
  opacity: 1;
}
.mf-oawmeig-item.slick-center p,
.mf-oawmeig-item.slick-center .info {
  opacity: 1;
}
.mf-oawmeig-item.slick-center ~ .slick-active {
  transform: scale(0.8) translate(30px, -20px);
}
@media (max-width: 1200px) {
  .mf-oawmeig-item.slick-center ~ .slick-active {
    transform: scale(0.8);
  }
}
@media (max-width: 767px) {
  .mf-oawmeig-item.slick-center ~ .slick-active {
    transform: unset;
  }
}
.mf-oawmeig-item span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}
@media (max-width: 575px) {
  .mf-oawmeig-item span {
    margin-bottom: 20px;
  }
}
.mf-oawmeig-item span img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.mf-oawmeig-item p {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 32px;
}
@media (max-width: 575px) {
  .mf-oawmeig-item p {
    line-height: 1.3;
    font-size: 20px;
    margin-bottom: 10px;
  }
}
.mf-oawmeig-item video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: 4.04px solid #a2bdff;
  overflow: hidden;
  border-radius: 18.48px;
}
.mf-oawmeig .slick-arrow {
  width: 36px;
  height: 28px;
  background-size: 100% 100%;
  padding: 0;
  cursor: pointer;
  top: 200px;
  z-index: 3;
}
.mf-oawmeig .slick-arrow::before {
  display: none;
}
.mf-oawmeig .slick-arrow.slick-prev {
  background-image: url(../images/icons/arrow-prev.svg);
  left: 0px;
}
.mf-oawmeig .slick-arrow.slick-next {
  background-image: url(../images/icons/arrow-next.svg);
  right: 0px;
}
.mf-oawmeig .slick-dots {
  position: relative;
  bottom: 0;
  margin-top: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 42px;
}
@media (max-width: 1919px) {
  .mf-oawmeig .slick-dots {
    gap: 10px;
    margin-top: 10px;
  }
}
@media (max-width: 767px) {
  .mf-oawmeig .slick-dots {
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    display: flex !important;
  }
  .mf-oawmeig .slick-dots li {
    width: calc(12.5% - 10px) !important;
    height: 10px !important;
    border-radius: 10px;
  }
  .mf-oawmeig .slick-dots li button {
    width: 100% !important;
    height: 10px !important;
    border-radius: 10px;
    background: #3e4580;
    color: transparent !important;
    padding: 0 !important;
    border: none !important;
  }
  .mf-oawmeig .slick-dots li.slick-active {
    background: #fff !important;
    border: none !important;
  }
  .mf-oawmeig .slick-dots li.slick-active button {
    background: #fff !important;
  }
}
.mf-oawmeig .slick-dots li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  width: 73px;
  height: 59px;
}
@media (max-width: 1919px) {
  .mf-oawmeig .slick-dots li {
    width: 55px;
    height: 50px;
    margin: 0;
  }
}
.mf-oawmeig .slick-dots li.slick-active button {
  background-color: #3475D3;
  border-color: #66ACFF;
  color: #fff;
  opacity: 1;
}
.mf-oawmeig .slick-dots button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  width: 75px;
  height: 59px;
  background: #0C2771;
  border: 3px solid transparent;
  border-radius: 15px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: capitalize;
  color: #9EA9C6;
  transition: all ease-in-out 0.3s;
}
@media (max-width: 1919px) {
  .mf-oawmeig .slick-dots button {
    width: 55px;
    height: 50px;
    padding: 15px;
    font-size: 18px;
  }
}
.mf-oawmeig .slick-dots button::before {
  display: none;
}
.mf-oawmeig .slick-dots button:hover {
  color: #fff;
}

.mf-awaptfyv {
  padding: 120px 0 122px;
  background-image: url(../images/ai_x_web3_acceleration_platform_to_fued_your_vision.png);
  background-size: cover;
  background: linear-gradient(180deg, #070d11 5%, #020947 100%);
  overflow: hidden;
}
@media (max-width: 991px) {
  .mf-awaptfyv {
    padding: 80px 0;
  }
}
@media (max-width: 575px) {
  .mf-awaptfyv {
    padding: 40px 0;
  }
}
.mf-awaptfyv .mf-title {
  position: relative;
  z-index: 2;
  width: 894px;
  max-width: 100%;
}
@media (max-width: 991px) {
  .mf-awaptfyv .mf-title {
    text-align: center;
  }
}
@media (max-width: 575px) {
  .mf-awaptfyv .mf-title {
    margin-bottom: 20px;
    line-height: 1.3;
  }
}
.mf-awaptfyv-tabs {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
  z-index: 2;
  margin-bottom: 40px;
}
@media (max-width: 991px) {
  .mf-awaptfyv-tabs {
    flex-wrap: wrap;
  }
}
@media (max-width: 575px) {
  .mf-awaptfyv-tabs {
    gap: 10px;
  }
}
.mf-awaptfyv-tabs button {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  gap: 10px;
  width: 150px;
  min-width: 150px;
  height: 50px;
  background-color: #0c2d89;
  border: 3px solid transparent;
  border-radius: 12px;
  cursor: pointer;
  outline: none;
  opacity: 0.8;
}
.mf-awaptfyv-tabs button:last-of-type {
  min-width: 186px;
}
@media (max-width: 1399px) {
  .mf-awaptfyv-tabs button {
    min-width: 140px;
    width: 140px;
    height: 45px;
  }
}
@media (max-width: 575px) {
  .mf-awaptfyv-tabs button {
    flex: 1;
  }
}
.mf-awaptfyv-tabs button span {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.7);
  transition: all ease-in-out 0.3s;
  white-space: nowrap;
}
@media (max-width: 1399px) {
  .mf-awaptfyv-tabs button span {
    font-size: 18px;
  }
}
.mf-awaptfyv-tabs button.active {
  opacity: 1;
  min-width: 180px;
  width: 180px;
  height: 60px;
  border-radius: 15px;
  border-width: 4px;
  background-color: #0576dc;
  border-color: #2badfb;
}
@media (max-width: 575px) {
  .mf-awaptfyv-tabs button.active {
    min-width: 140px;
    width: 140px;
    height: 45px;
    border-width: 3px;
  }
}
.mf-awaptfyv-tabs button.active span {
  color: #fff;
}
@media (max-width: 575px) {
  .mf-awaptfyv-tabs button.active span {
    font-size: 18px;
  }
}
.mf-awaptfyv-body {
  position: relative;
  z-index: 2;
}
.mf-awaptfyv-body h4 {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #ffffff;
  margin-bottom: 20px;
}
@media (max-width: 575px) {
  .mf-awaptfyv-body h4 {
    font-size: 24px;
    line-height: 1.3;
  }
}
.mf-awaptfyv-buttons {
  margin-top: 65px;
  display: flex;
  gap: 30px;
}
@media (max-width: 1399px) {
  .mf-awaptfyv-buttons {
    gap: 20px;
  }
}
@media (max-width: 991px) {
  .mf-awaptfyv-buttons .btn.btn-lg {
    width: 100%;
  }
  .mf-awaptfyv-buttons .btn-lg::after {
    border-radius: 10px;
  }
}
@media (max-width: 575px) {
  .mf-awaptfyv-buttons {
    margin-top: 30px;
    gap: 15px;
  }
}
.mf-awaptfyv-image {
  width: 130%;
  margin-left: -10%;
  margin-top: -100px;
}
@media (max-width: 991px) {
  .mf-awaptfyv-image {
    width: calc(100% + 32px);
    margin-left: -16px;
    margin-top: 0;
  }
}
.mf-awaptfyv .row .mf-title {
  display: none;
}
@media (max-width: 475px) {
  .mf-awaptfyv .row .mf-title {
    display: block;
  }
}

.mf-eadi {
  padding: 112px 0 100px;
  background-image: url(../images/experience_ai_driven_nnovation.png);
  background-size: cover;
}
@media (max-width: 1199px) {
  .mf-eadi {
    padding: 80px 0 40px;
  }
}
.mf-eadi h3 {
  font-weight: 400;
  font-size: 64px;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.mf-eadi p {
  margin-bottom: 174px;
  text-align: center;
}
.mf-eadi-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mf-eadi-item {
  padding: 40px 15px 0;
  position: relative;
  width: 13.88vw;
}
.mf-eadi-item:nth-child(1) {
  margin-top: -50px;
}
.mf-eadi-item:nth-child(2) {
  width: 22.44vw;
}
.mf-eadi-item:nth-child(2) .mf-eadi-item-title {
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 18px;
}
@media (max-width: 1919px) {
  .mf-eadi-item:nth-child(2) .mf-eadi-item-title {
    font-size: 28px;
    margin-bottom: 8px;
  }
}
@media (max-width: 1399px) {
  .mf-eadi-item:nth-child(2) .mf-eadi-item-title {
    font-size: 24px;
  }
}
.mf-eadi-item:nth-child(2) .mf-eadi-item-image {
  border-width: 3.91511px;
}
.mf-eadi-item:nth-child(2) .mf-eadi-item-image button {
  width: 113.54px;
  height: 113.54px;
}
@media (max-width: 1919px) {
  .mf-eadi-item:nth-child(2) .mf-eadi-item-image button {
    width: 90px;
    height: 90px;
  }
}
.mf-eadi-item:nth-child(3) {
  margin-top: -250px;
  margin-left: -20px;
  margin-right: 20px;
}
.mf-eadi-item:nth-child(4) {
  margin-top: -50px;
}
.mf-eadi-item:nth-child(5) {
  margin-top: -150px;
}
.mf-eadi-item-bg {
  width: 100%;
}
.mf-eadi-item-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
.mf-eadi-item-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 10px;
}
@media (max-width: 1919px) {
  .mf-eadi-item-title {
    font-size: 18px;
    line-height: 1.15;
    margin-bottom: 5px;
  }
}
@media (max-width: 1399px) {
  .mf-eadi-item-title {
    font-size: 16px;
  }
}
.mf-eadi-item-image {
  position: relative;
  overflow: hidden;
  width: calc(100% - 30px);
  margin-left: auto;
  margin-right: auto;
  border: 2.42px solid rgba(15, 23, 33, 0.5);
  border-radius: 29.3634px;
}
.mf-eadi-item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mf-eadi-item-image button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70.24px;
  height: 70.24px;
  border-radius: 50%;
  padding: 0;
  outline: 0;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
}
@media (max-width: 1919px) {
  .mf-eadi-item-image button {
    width: 50px;
    height: 50px;
  }
}
.mf-eadi-item-image button img,
.mf-eadi-item-image button svg {
  width: 100%;
  height: 100%;
}

.mf-byow3m {
  padding: 130px 0 159px;
  background-image: url(../images/build_your_own_web3_metaverse.png);
  background-size: cover;
}
@media (min-width: 1440px) {
  .mf-byow3m {
    height: 100vh;
  }
}
@media (max-width: 1199px) {
  .mf-byow3m {
    padding: 80px 0;
  }
}
@media (max-width: 991px) {
  .mf-byow3m {
    padding: 60px 0;
  }
}
@media (max-width: 575px) {
  .mf-byow3m {
    padding: 40px 0;
    background-image: none;
  }
}
@media (max-width: 575px) {
  .mf-byow3m-subtitle {
    margin-bottom: 5px;
  }
}
.mf-byow3m-header {
  display: flex;
  gap: 40px;
}
.mf-byow3m-header-subtitle {
  font-size: 24px;
  line-height: 36px;
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 6px;
}
@media (max-width: 1199px) {
  .mf-byow3m-header-subtitle {
    margin-bottom: 10px;
  }
}
@media (max-width: 575px) {
  .mf-byow3m-header-subtitle {
    margin-bottom: 15px;
  }
}
.mf-byow3m-header h3 {
  line-height: 60px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
@media (max-width: 1199px) {
  .mf-byow3m-header h3 {
    line-height: 1.15;
  }
}
@media (max-width: 575px) {
  .mf-byow3m-header h3 {
    line-height: 1.3;
  }
}
.mf-byow3m-header button {
  width: 135px;
  min-width: 135px;
  height: 135px;
  border-radius: 50%;
  margin-top: 19px;
  margin-left: 20px;
  transition: all ease-in-out 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 0;
  outline: 0;
  padding: 0;
  color: rgba(217, 217, 217, 0.5);
}
.mf-byow3m-header button:hover {
  color: #d9d9d9;
}
.mf-byow3m-header button img,
.mf-byow3m-header button svg {
  width: 100%;
  height: 100%;
}
@media (max-width: 1399px) {
  .mf-byow3m-header button {
    width: 100px;
    height: 100px;
    min-width: 100px;
    margin-top: 10px;
  }
}
@media (max-width: 575px) {
  .mf-byow3m-header button {
    width: 80px;
    height: 80px;
    min-width: 80px;
  }
}
.mf-byow3m p {
  margin-bottom: 45px;
}
@media (max-width: 991px) {
  .mf-byow3m p {
    margin-bottom: 24px;
  }
}
.mf-byow3m .buttons {
  display: flex;
  gap: 20px;
}
@media (max-width: 991px) {
  .mf-byow3m .buttons {
    flex-direction: column;
  }
}
@media (max-width: 575px) {
  .mf-byow3m .buttons {
    gap: 20px;
  }
}

.mf-verse {
  padding-top: 63px;
  position: relative;
  overflow: hidden;
}
@media (min-width: 1440px) {
  .mf-verse {
    height: 100vh;
  }
}
@media (max-width: 575px) {
  .mf-verse {
    padding-top: 40px;
  }
}
.mf-verse #verse-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mf-verse .mf-title {
  line-height: 54px;
  margin-bottom: 30px;
  text-align: center;
  position: relative;
}
@media (max-width: 991px) {
  .mf-verse .mf-title br {
    display: none;
  }
}
@media (max-width: 575px) {
  .mf-verse .mf-title {
    line-height: 1.3;
  }
}
.mf-verse-inner {
  position: relative;
}
@media (max-width: 1199px) {
  .mf-verse-inner {
    padding-bottom: 150px;
  }
}
@media (max-width: 991px) {
  .mf-verse-inner {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}
@media (max-width: 575px) {
  .mf-verse-inner {
    padding-bottom: 100px;
  }
}
.mf-verse-inner .main-image {
  width: 100%;
  height: auto;
}
@media (max-width: 991px) {
  .mf-verse-inner .main-image {
    bottom: calc(100% - 602px - 48px);
    left: auto;
    right: 0;
  }
  .mf-verse-inner .main-image.actor-1 {
    margin-left: -30px;
  }
  .mf-verse-inner .main-image.actor-3 {
    margin-left: -50px;
  }
  .mf-verse-inner .main-image.actor-4 {
    margin-left: -95px;
  }
  .mf-verse-inner .main-image.actor-5 {
    margin-left: -20px;
  }
  .mf-verse-inner .main-image.actor-7 {
    margin-left: -75px;
  }
}
@media (max-width: 767px) {
  .mf-verse-inner .main-image {
    bottom: unset;
    top: 14%;
    width: 100%;
    height: auto;
    left: 80px;
  }
}
.mf-verse-inner .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  z-index: 3;
  margin-top: 20px;
}
@media (max-width: 1399px) {
  .mf-verse-inner .buttons {
    gap: 20px;
  }
}
@media (max-width: 991px) {
  .mf-verse-inner .buttons {
    width: 100%;
  }
}
@media (max-width: 575px) {
  .mf-verse-inner .buttons {
    margin-top: 0px;
  }
}
@media (max-width: 575px) {
  .mf-verse-inner .buttons {
    gap: 15px;
  }
}
.mf-verse-inner .description {
  text-align: center;
  padding: 20px;
  color: #bad8fb;
  background: #000;
  border-radius: 10px;
  max-width: 44.42vw;
}
.mf-verse-inner .description div {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 991px) {
  .mf-verse-inner .description {
    max-width: 53.4825870647vw;
  }
  .mf-verse-inner .description div {
    display: block;
    -webkit-line-clamp: unset;
    -webkit-box-orient: unset;
    text-overflow: unset;
    font-family: Poppins;
    font-size: 1.6119402985vw;
    font-weight: 400;
    line-height: 2.4179104478vw;
    text-align: left;
  }
}
.mf-verse-inner .mf-verse-slide img,
.mf-verse-inner .mf-verse-slide-nav img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mf-verse-inner .mf-verse-slide-wrap {
  padding: 30px;
  border-radius: 10px;
  background: #000;
  display: flex;
  max-width: 44.42vw;
  width: 44.42vw;
}
@media (max-width: 1200px) {
  .mf-verse-inner .mf-verse-slide-wrap {
    padding: 20px;
  }
}
@media (max-width: 991px) {
  .mf-verse-inner .mf-verse-slide-wrap {
    flex-direction: column;
    max-width: 86.5671641791vw;
    width: 86.5671641791vw;
    padding: 10px;
  }
}
.mf-verse-inner .mf-verse-slide {
  position: relative;
  max-width: 33.07vw;
  padding-right: 10px;
}
@media (max-width: 991px) {
  .mf-verse-inner .mf-verse-slide {
    max-width: 100%;
    width: 100%;
  }
}
.mf-verse-inner .mf-verse-slide-item {
  border: 6px solid rgba(15, 23, 33, 0.5);
  border-radius: 22.28px;
  height: 21.99vw;
  overflow: hidden;
  position: relative;
}
.mf-verse-inner .mf-verse-slide-item iframe,
.mf-verse-inner .mf-verse-slide-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mf-verse-inner .mf-verse-slide-item .play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  background: none;
  cursor: pointer;
  width: 6vw;
  height: 6vw;
  padding: 0;
}
.mf-verse-inner .mf-verse-slide-item .play img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 991px) {
  .mf-verse-inner .mf-verse-slide-item .play {
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 991px) {
  .mf-verse-inner .mf-verse-slide-item {
    height: 400px;
  }
}
@media (max-width: 475px) {
  .mf-verse-inner .mf-verse-slide-item {
    height: 300px;
  }
}
.mf-verse-inner .mf-verse-slide-nav {
  margin-bottom: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 21.99vw;
  overflow-y: auto;
  gap: 0.78125vw;
  padding-right: 10px;
  margin-right: -10px;
}
.mf-verse-inner .mf-verse-slide-nav-item {
  height: 6.81vw;
  width: 6.81vw;
  min-width: 6.81vw;
  min-height: 6.81vw;
  width: 100%;
  border: 3.08191px solid rgba(15, 23, 33, 0.5);
  border-radius: 30.8191px;
  overflow: hidden;
  position: relative;
}
.mf-verse-inner .mf-verse-slide-nav-item.active::after, .mf-verse-inner .mf-verse-slide-nav-item.slick-current::after {
  opacity: 0;
}
.mf-verse-inner .mf-verse-slide-nav-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  opacity: 1;
  transition: all ease-in-out 0.3s;
}
@media (max-width: 991px) {
  .mf-verse-inner .mf-verse-slide-nav-item {
    height: 100px;
    border-radius: 15px;
  }
}
@media (max-width: 575px) {
  .mf-verse-inner .mf-verse-slide-nav-item {
    height: 70px;
    border-radius: 15px;
  }
}
.mf-verse-inner .mf-verse-slide-nav .slick-arrow {
  width: 46.15px;
  height: 55.38px;
  background-size: 100% 100%;
  padding: 0;
  cursor: pointer;
}
.mf-verse-inner .mf-verse-slide-nav .slick-arrow::before {
  display: none;
}
.mf-verse-inner .mf-verse-slide-nav .slick-arrow.slick-prev {
  left: 0;
  background-image: url(../images/icons/arrow-prev.svg);
}
@media (max-width: 475px) {
  .mf-verse-inner .mf-verse-slide-nav .slick-arrow.slick-prev {
    left: -10px;
  }
}
.mf-verse-inner .mf-verse-slide-nav .slick-arrow.slick-next {
  right: 0;
  background-image: url(../images/icons/arrow-next.svg);
}
@media (max-width: 475px) {
  .mf-verse-inner .mf-verse-slide-nav .slick-arrow.slick-next {
    right: -10px;
  }
}
@media (max-width: 475px) {
  .mf-verse-inner .mf-verse-slide-nav .slick-arrow {
    width: 36px;
    height: 28px;
  }
}
@media (max-width: 991px) {
  .mf-verse-inner .mf-verse-slide-nav {
    margin-top: 20px;
    margin-right: 0;
    padding: 0 80px;
    overflow-y: unset;
  }
}
@media (max-width: 475px) {
  .mf-verse-inner .mf-verse-slide-nav {
    padding: 0 25px;
  }
}
.mf-verse-inner .mf-verse-body {
  display: flex;
}
.mf-verse-inner .mf-verse-body .left {
  height: 48.9583333333vw;
}
.mf-verse-inner .mf-verse-body .left img {
  width: 41.97vw;
  height: auto;
}
@media (max-width: 991px) {
  .mf-verse-inner .mf-verse-body {
    flex-direction: column;
  }
  .mf-verse-inner .mf-verse-body .left {
    z-index: 1;
    margin-bottom: -130px;
  }
  .mf-verse-inner .mf-verse-body .left img {
    width: auto;
    height: 100%;
  }
  .mf-verse-inner .mf-verse-body .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 20px;
  }
  .mf-verse-inner .mf-verse-body .right .mf-verse-slide-wrap {
    z-index: 2;
  }
}
.mf-verse-tabs {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 4;
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .mf-verse-tabs {
    position: relative;
    bottom: unset;
  }
}
.mf-verse-tabs li {
  margin-bottom: 30px;
  display: flex !important;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
  align-items: center;
}
.mf-verse-tabs li .name {
  color: #84a0c1;
  font-size: 1.0416666667vw;
  font-weight: 700;
  line-height: 1.5625vw;
}
.mf-verse-tabs li .title {
  color: #bad8fb;
  font-size: 0.8333333333vw;
  font-weight: 400;
  line-height: 1.25vw;
}
.mf-verse-tabs li.active .image, .mf-verse-tabs li:hover .image {
  opacity: 1;
  border: 5px solid #b7fff7;
  border-radius: 20px;
}
@media (max-width: 991px) {
  .mf-verse-tabs li.active .image, .mf-verse-tabs li:hover .image {
    border-radius: 10.16px;
    border: 2.54px solid #b7fff7;
  }
}
.mf-verse-tabs li.active .info, .mf-verse-tabs li:hover .info {
  background: linear-gradient(90.17deg, rgba(70, 176, 238, 0.465) 21.89%, rgba(70, 176, 238, 0.05) 78.07%);
  margin-left: -5px;
}
.mf-verse-tabs li.active .info::before, .mf-verse-tabs li:hover .info::before {
  background: #b7fff7;
}
.mf-verse-tabs li.active .info .name, .mf-verse-tabs li:hover .info .name {
  color: #fff;
  font-size: 1.25vw;
  font-weight: 700;
  line-height: 1.875vw;
}
.mf-verse-tabs li.active .info .title, .mf-verse-tabs li:hover .info .title {
  color: #bad8fb;
  font-size: 0.8333333333vw;
  font-weight: 400;
  line-height: 1.25vw;
}
@media (max-width: 991px) {
  .mf-verse-tabs li.active .info, .mf-verse-tabs li:hover .info {
    margin-left: -2px;
  }
  .mf-verse-tabs li.active .info .name, .mf-verse-tabs li:hover .info .name {
    font-family: Poppins;
    font-size: 12.2px;
    font-weight: 700;
    line-height: 18.29px;
  }
  .mf-verse-tabs li.active .info .title, .mf-verse-tabs li:hover .info .title {
    font-family: Poppins;
    font-size: 8.13px;
    font-style: italic;
    font-weight: 400;
    line-height: 12.2px;
  }
}
@media (max-width: 1199px) {
  .mf-verse-tabs li {
    margin-bottom: 20px;
  }
  .mf-verse-tabs li .name {
    font-size: 10.16px;
    font-weight: 700;
    line-height: 15.25px;
  }
  .mf-verse-tabs li .title {
    font-size: 8.13px;
    font-style: italic;
    font-weight: 400;
    line-height: 12.2px;
  }
}
@media (max-width: 767px) {
  .mf-verse-tabs li {
    margin-bottom: 0;
  }
}
.mf-verse-tabs li .image {
  width: 5.2432291667vw;
  height: 5.2432291667vw;
  border-radius: 10px;
  overflow: hidden;
  opacity: 0.3;
  transition: all ease-in-out 0.3s;
}
.mf-verse-tabs li .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 991px) {
  .mf-verse-tabs li .image {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 767px) {
  .mf-verse-tabs li .image {
    width: 51.16px;
    height: 51.16px;
    min-width: 51.16px;
    min-height: 51.16px;
  }
}
.mf-verse-tabs li .info {
  background: linear-gradient(90deg, rgba(27, 61, 112, 0.3) 0%, rgba(1, 30, 73, 0) 87.72%);
  filter: drop-shadow(0px 2.78067px 2.78067px rgba(0, 0, 0, 0.25));
  border-radius: 0px 20.855px 20.855px 0px;
  position: relative;
  padding: 3px 20px;
  height: fit-content;
  transition: all ease-in-out 0.3s;
}
.mf-verse-tabs li .info::before {
  content: "";
  position: absolute;
  width: 6.46px;
  height: 100%;
  left: 0px;
  top: 0px;
  background: #212363;
  border-radius: 20.855px;
  transition: all ease-in-out 0.3s;
}
@media (max-width: 991px) {
  .mf-verse-tabs li .info {
    margin-left: -2px;
  }
}
@media (max-width: 767px) {
  .mf-verse-tabs li .info {
    padding: 0px 20px;
    margin-left: -2px !important;
    padding: 0 0 0 10px;
  }
  .mf-verse-tabs li .info::before {
    width: 3.28px;
  }
  .mf-verse-tabs li .info .name {
    margin-bottom: 3px;
  }
}
.mf-verse-tabs li .name {
  text-transform: uppercase;
  color: #657990;
  margin-bottom: 6px;
  transition: all ease-in-out 0.3s;
}
@media (max-width: 575px) {
  .mf-verse-tabs li .name {
    color: rgba(255, 255, 255, 0.7);
    font-weight: bold;
  }
}
.mf-verse-tabs li .title {
  font-style: italic;
  color: rgba(186, 216, 251, 0.5);
  transition: all ease-in-out 0.3s;
}

.mf-host-events {
  padding: 205px 0 100px;
  background-image: url(../images/host_events.png);
  background-size: cover;
  overflow: hidden;
}
@media (max-width: 1399px) {
  .mf-host-events {
    padding-top: 180px;
  }
}
@media (max-width: 991px) {
  .mf-host-events {
    padding: 80px 0 40px;
  }
}
@media (max-width: 575px) {
  .mf-host-events {
    background-image: url(../images/host_events_mobile.png);
    padding: 40px 0;
  }
}
.mf-host-events-header {
  margin-bottom: 154px;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 1399px) {
  .mf-host-events-header {
    margin-bottom: 120px;
  }
}
@media (max-width: 991px) {
  .mf-host-events-header {
    min-height: unset;
    margin-bottom: 40px;
    width: 100%;
  }
}
.mf-host-events-header .play {
  padding: 20px 0;
  text-align: center;
}
.mf-host-events-header .play button {
  z-index: 3;
  cursor: pointer;
  padding: 0;
  border: 0;
  background-color: transparent;
  outline: 0;
  width: 12.5vh;
  height: 12.5vh;
}
.mf-host-events-header .play button:hover img {
  transform: scale(1.2);
}
@media (max-width: 1919px) {
  .mf-host-events-header .play button {
    width: 100px;
    height: 100px;
  }
}
@media (max-height: 1080px) {
  .mf-host-events-header .play button {
    bottom: 22vh;
  }
}
@media (max-width: 575px) {
  .mf-host-events-header .play button {
    width: 60px;
    height: 60px;
    bottom: auto;
    top: 230px;
  }
}
.mf-host-events-header .play button img {
  width: 100%;
  height: 100%;
  transition: all ease-in-out 0.3s;
  transform-origin: center;
}
.mf-host-events-header-body {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 10px;
}
.mf-host-events-header-body h3 {
  text-align: center;
  text-transform: uppercase;
  color: #1f2b32;
  margin-bottom: 0;
  margin-top: 10px;
}
@media (max-width: 991px) {
  .mf-host-events-header-body h3 {
    line-height: 1.5;
  }
}
.mf-host-events-header-body p {
  border-top: 1px solid #000000;
  color: #1f2b32;
  padding: 10px;
  margin-bottom: 0;
}
.mf-host-events-item {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 20px;
  background: rgba(15, 23, 33, 0.6);
  border-radius: 30px;
  text-align: center;
}
.mf-host-events-item-image {
  height: 191px;
  overflow: hidden;
}
@media (max-width: 1399px) {
  .mf-host-events-item-image {
    height: 150px;
  }
}
@media (max-width: 1199px) {
  .mf-host-events-item-image {
    height: 120px;
  }
}
.mf-host-events-item-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.mf-host-events-item-info h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  margin: -2px 0px;
  white-space: nowrap;
}
@media (max-width: 1199px) {
  .mf-host-events-item-info h4 {
    font-size: 18px;
    line-height: 1.5;
  }
}
@media (max-width: 575px) {
  .mf-host-events-item-info h4 {
    font-size: 20px;
  }
}
.mf-host-events-item-info div {
  padding: 10px;
}
.mf-host-events-item-info div p {
  min-height: 72px;
  margin-bottom: 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mf-mcp {
  padding: 77px 0;
}
@media (max-width: 991px) {
  .mf-mcp {
    padding: 40px 0 80px;
  }
}
@media (max-width: 575px) {
  .mf-mcp {
    padding: 40px 0;
  }
}
.mf-mcp .mf-title {
  line-height: 88px;
  margin-bottom: 48px;
  text-align: center;
}
@media (max-width: 991px) {
  .mf-mcp .mf-title {
    margin-bottom: 24px;
  }
}
@media (max-width: 575px) {
  .mf-mcp .mf-title {
    margin-bottom: 20px;
    line-height: 1.3;
  }
}
.mf-mcp .buttons {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 29px;
}
@media (max-width: 1919px) {
  .mf-mcp .buttons {
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  .mf-mcp .buttons {
    gap: 10px;
  }
  .mf-mcp .buttons .btn {
    width: 50%;
  }
}
.mf-mcp .row {
  --bs-gutter-x: 45px;
  --bs-gutter-y: 45px;
}
@media (max-width: 1199px) {
  .mf-mcp .row {
    --bs-gutter-x: 24px;
    --bs-gutter-y: 24px;
  }
}
@media (max-width: 991px) {
  .mf-mcp .row {
    --bs-gutter-x: 40px;
    --bs-gutter-y: 40px;
  }
}
.mf-mcp-item {
  height: 330px;
  display: block;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  text-decoration: none;
}
@media (max-width: 991px) {
  .mf-mcp-item {
    height: 260px;
  }
}
.mf-mcp-item:hover .readmore {
  max-height: 76px;
  padding-top: 18px;
}
.mf-mcp-item:hover img {
  transform: scale(1.1);
}
.mf-mcp-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-origin: center;
  transition: all ease-in-out 0.3s;
}
.mf-mcp-item-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0px 0px 20px 20px;
}
@media (max-width: 1399px) {
  .mf-mcp-item-info {
    padding-bottom: 20px;
  }
}
.mf-mcp-item-info h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: #ffffff;
  margin-bottom: 0;
}
@media (max-width: 1199px) {
  .mf-mcp-item-info h3 {
    font-size: 20px;
    line-height: 1.5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
}
.mf-mcp-item-info p {
  margin-bottom: 0;
  color: #fff;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mf-mcp-item-info .readmore {
  overflow: hidden;
  max-height: 0;
  transition: all ease-in-out 0.3s;
}

.mf-bac {
  position: relative;
  background: #070d11;
  width: 100%;
  margin-bottom: -2px;
}
.mf-bac-bg {
  height: auto;
  width: 100%;
}
@media (max-width: 575px) {
  .mf-bac {
    background-image: none;
    margin: 0;
    padding: 40px 0;
  }
}
.mf-bac-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 231px 77px 205px;
}
@media (max-width: 1919px) {
  .mf-bac-inner {
    padding: 10% 0 10%;
  }
}
@media (max-width: 991px) {
  .mf-bac-inner {
    position: relative;
    padding: 6% 0 4%;
  }
}
@media (max-width: 575px) {
  .mf-bac-inner {
    padding: 0;
  }
}
.mf-bac-inner .mf-title {
  line-height: 96px;
  margin-bottom: 12px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .mf-bac-inner .mf-title {
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 20px;
  }
}
.mf-bac-item {
  padding: 36px 0px;
  gap: 10px;
  border-radius: 40px;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 9.55px;
}
@media (max-width: 1199px) {
  .mf-bac-item {
    padding: 20px 0;
    border-radius: 24px;
  }
}
.mf-bac-item-image {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
}
.mf-bac-item-image img {
  width: 73.55%;
}
.mf-bac-item-title {
  position: relative;
  z-index: 2;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 12px;
}
@media (max-width: 1199px) {
  .mf-bac-item-title {
    font-size: 22px;
    line-height: 1.15;
  }
}
@media (max-width: 991px) {
  .mf-bac-item-title {
    font-size: 20px;
  }
}
.mf-bac-item-description {
  z-index: 2;
  position: relative;
  max-width: 390px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}
@media (max-width: 991px) {
  .mf-bac-item-description div {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.mf-tclg {
  padding-top: 92px;
  padding-bottom: 55px;
  background: linear-gradient(180deg, #070D11 5%, #020947 100%);
  width: 100%;
  overflow: hidden;
}
@media (max-width: 575px) {
  .mf-tclg {
    padding-top: 40px;
  }
}
.mf-tclg .mf-title {
  font-weight: 700;
  font-size: 39.9273px;
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 0px;
}
@media (max-width: 767px) {
  .mf-tclg .mf-title {
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 20px;
  }
}
.mf-tclg p {
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 22px;
}
.mf-tclg a {
  display: inline-flex;
  margin-bottom: 29px;
}
@media (max-width: 575px) {
  .mf-tclg a {
    width: 100%;
    margin-bottom: 30px;
  }
}
.mf-tclg-items {
  display: flex;
  flex-wrap: wrap;
  column-gap: 14px;
  row-gap: 31px;
}
@media (max-width: 1399px) {
  .mf-tclg-items {
    gap: 14px;
  }
}
.mf-tclg-items .mf-tclg-item {
  padding: 20px 30px;
  gap: 10px;
  background: rgba(15, 23, 33, 0.6);
  border-radius: 30px;
  width: calc(50% - 7px);
}
@media (max-width: 1399px) {
  .mf-tclg-items .mf-tclg-item {
    padding: 20px;
  }
}
@media (max-width: 767px) {
  .mf-tclg-items .mf-tclg-item {
    width: 100%;
  }
}
@media (max-width: 575px) {
  .mf-tclg-items .mf-tclg-item {
    border-radius: 20px;
  }
}
.mf-tclg-items .mf-tclg-item-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 24px;
}
@media (max-width: 1399px) {
  .mf-tclg-items .mf-tclg-item-title {
    margin-bottom: 10px;
  }
}
@media (max-width: 575px) {
  .mf-tclg-items .mf-tclg-item-title {
    font-size: 20px;
  }
}
.mf-tclg-items .mf-tclg-item p {
  text-transform: capitalize;
  margin-bottom: 0;
}
@media (max-width: 1399px) {
  .mf-tclg-items .mf-tclg-item p {
    font-size: 16px;
  }
}

.mf-before-footer {
  padding: 62px 0 31px;
  background-color: #05060b;
  color: #fff;
}
@media (max-width: 575px) {
  .mf-before-footer {
    padding: 20px 0;
  }
}
.mf-before-footer img {
  width: 200px;
  margin-bottom: 36px;
}
@media (max-width: 575px) {
  .mf-before-footer img {
    margin-bottom: 20px;
  }
}
.mf-before-footer a {
  color: #fff;
  text-decoration: none;
}
.mf-before-footer a:hover {
  color: #6badfd;
}
.mf-before-footer .info {
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media (max-width: 575px) {
  .mf-before-footer .info {
    padding-bottom: 20px;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
  }
}
.mf-before-footer .info p {
  margin-bottom: 19px;
}
.mf-before-footer .info a {
  margin-top: auto;
  font-size: 24px;
  font-weight: bold;
}
@media (max-width: 575px) {
  .mf-before-footer .info a {
    font-size: 18px;
  }
}
.mf-before-footer .menu h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  margin-bottom: 0;
}
@media (max-width: 575px) {
  .mf-before-footer .menu h4 {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
}
.mf-before-footer .menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.mf-before-footer .menu ul li a {
  line-height: 35px;
}
@media (max-width: 575px) {
  .mf-before-footer .menu ul li a {
    line-height: 1.5;
    white-space: nowrap;
    font-size: 14px;
  }
}

.mf-footer {
  background-color: #0f1721;
  padding: 30px 0;
}
@media (max-width: 575px) {
  .mf-footer {
    padding: 20px 0;
    text-align: center;
  }
}
.mf-footer-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 1199px) {
  .mf-footer-inner {
    flex-wrap: wrap;
    justify-content: center;
    gap: 0;
  }
}
@media (max-width: 991px) {
  .mf-footer-inner {
    flex-wrap: nowrap;
  }
}
@media (max-width: 767px) {
  .mf-footer-inner {
    flex-direction: column;
  }
}
.mf-footer-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 60px;
}
@media (max-width: 1199px) {
  .mf-footer-menu {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
}
@media (max-width: 991px) {
  .mf-footer-menu {
    gap: 20px;
    row-gap: 10px;
    flex-wrap: wrap;
  }
}
@media (max-width: 575px) {
  .mf-footer-menu {
    row-gap: 5px;
    justify-content: center;
  }
}
.mf-footer-menu li {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 991px) {
  .mf-footer-menu li:first-child {
    width: 100%;
  }
}
.mf-footer-menu li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}
.mf-footer-menu li a:hover {
  color: #fff;
}
@media (max-width: 575px) {
  .mf-footer-menu li a {
    font-size: 14px;
  }
}
.mf-footer-socials {
  display: flex;
  align-items: center;
  gap: 23px;
}
@media (max-width: 1199px) {
  .mf-footer-socials {
    gap: 15px;
  }
}
.mf-footer-socials a {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.mf-footer-socials a:hover img {
  transform: scale(1.3);
}
.mf-footer-socials a img {
  height: 55px;
  transform-origin: center;
  transition: all ease-in-out 0.3s;
}
@media (max-width: 1199px) {
  .mf-footer-socials a img {
    height: 40px;
  }
}

.mf-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  color: #ffffff;
  margin-bottom: 0;
}
@media (max-width: 1199px) {
  .mf-title {
    font-size: 40px;
    line-height: 60px;
  }
}
@media (max-width: 991px) {
  .mf-title {
    font-size: 30px;
    line-height: 50px;
  }
}
@media (max-width: 767px) {
  .mf-title {
    font-size: 28px;
    line-height: 30px;
  }
}

@media (max-width: 575px) {
  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    --bs-gutter-x: 36px;
  }
}

/*# sourceMappingURL=styles.css.map */
