.mf-laitfne {
	position: relative;
	&-bg {
		width: 100%;
	}
	&-inner {
		position: absolute;
		top: 107px;
		left: 0;
		width: 100%;
		text-align: center;
		@media (max-width: 1919px) {
			top: 80px;
		}
		@media (max-width: 1199px) {
			top: 60px;
		}
		h3 {
			font-weight: 700;
			font-size: 64px;
			line-height: 70px;
			text-align: center;
			text-transform: uppercase;
			color: #ffffff;
			margin-bottom: 10px;
		}
		p {
			width: 1454px;
			max-width: 100%;
			margin-left: auto;
			margin-right: auto;
		}
	}
}
